//font sizes
$font-size-base: 1.6rem; //16px
$font-size-sm: $font-size-base * 0.75; //12px
$font-size-lg: $font-size-base * 1.5; //24px
$font-size-xl: $font-size-base * 2; //32px
$font-size-xxl: $font-size-base * 3; //48px
